body {
    margin: 0px;
    height: 100vh;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: disco 1s linear 2s infinite normal;
}
@keyframes disco {
    0% {
        background-color: red;
    } 15% {
        background-color: orange;
    } 30% {
        background-color: yellow;
    } 45% {
        background-color: green;
    } 60% {
        background-color: blue;
    } 75% {
        background-color: indigo;
    } 100% {
        background-color: violet;
    }  
}
h2 {
    background-color: grey;
    font-size: 50px;
}